*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: red;
  width: 100%;
  height: 50px;
}
h1{
  color: white;
}

main{
  background-color: white;
  width: 100%;
  height: 1000px;
}
/*container*/
.container::after{
  content: "";
  display: table;
  clear: both;
}

/*parte sinistra*/
.sinistra{
  width: 45%;
  height: 600px;
  float: left;
}

/*parte destra*/
.destra{
  width: 45%;
  height: 600px;
  float: right;
}


.foto::after{
  width: 10%;
  height: 10px;
  content: "";
  display: table;
  clear: both;
}

span{
  float: right;
  width: 15%;
  transform: translate(-100%, +100%);

}
